 <widget id="A6007086738739"  version="0.0.1">

    <name>点钻猫</name>

    <description>Example For APICloud.</description>

    <author email="developer@apicloud.com" href="http://www.apicloud.com">Developer</author>

    <content src="index.html" />

    <access origin="*" />

    <preference name="pageBounce" value="false"/>

	<preference name="appBackground" value="#fff"/>

	<preference name="windowBackground" value="#fff"/>

	<preference name="frameBackgroundColor" value="#fff"/>

	<preference name="hScrollBarEnabled" value="false"/>

	<preference name="vScrollBarEnabled" value="false"/>

	<preference name="autoLaunch" value="true"/>

	<preference name="fullScreen" value="false"/>

    <!-- 自动检测和提示 -->
    <preference name="autoUpdate" value="false" />

    <!-- 检测是否有云修复更新 -->
    <preference name="smartUpdate" value="false" />


	<preference name="debug" value="true"/>

	<preference name="statusBarAppearance" value="true"/>

	<permission name="readPhoneState" />

	<permission name="camera" />

	<permission name="record" />

	<permission name="location" />

	<permission name="fileSystem" />

	<permission name="internet" />

	<permission name="bootCompleted" />

	<permission name="hardware" />
</widget>
